@media (max-width:500px) {
   header{
    background-color: red !important;
   }
   header h1{
    display: none;
   }

   header h2{
    text-align: center;
    color: white;
   }
}

@media screen and (min-width:600px) {
    header{
    background-color: yellow !important;
    }
    header h2{
        display: none;
    }
}